{% extends "accounts/base.html" %}
{% load static %}

{% block body_block %}
<div class="container" style="width:60%; margin-top:5%;">
    <div class="jumbotron">
        {% if request.user.is_authenticated %}

        <h4 class="text-center mt-0 font-weight-bold">Thank you for registaring</h4>
        {% else %}
        <h3 class="text-center mt-0 font-weight-bold">Register Here</h3>
        <div class="card-header text-center">
            <p class="text-muted" style="background:#F7F7F7">Please fill out the form</p>
        </div>

        <div>


            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <!--                {{ form.as_p }}-->


                <div style="padding-bottom:2.5%" style="padding-top:2.5%">
                    <label for="id_username" class=" requiredField">
                        Username<span class="asteriskField">*</span> </label>
                    <input type="text" name="username" maxlength="150" autofocus=""
                           class="textinput textInput form-control is-invalid" required="" id="id_username">
                    <span id="error_1_id_username" class="invalid-feedback">
                </span>
                    <small id="hint_id_username" class="form-text text-muted">Required. 150 characters or fewer.
                        Letters,
                        digits and @/./+/-/_ only.</small>
                </div>


                <div style="padding-bottom:2.5%">
                    <label for="id_email" class=" requiredField">


                        Email<span class="asteriskField">*</span> </label>
                    <input type="email" name="email" maxlength="150" autofocus=""
                           class="textinput textInput form-control is-invalid" required="" id="id_email">
                </div>
                <div style="padding-bottom:2.5%">


                    <label for="id_password1" class=" requiredField">
                        Password<span class="asteriskField">*</span> </label>
                    <input type="password" name="password" maxlength="150" autofocus=""
                           class="textinput textInput form-control is-invalid" required="" id="id_password1">
                    <small id="hint_id_password1" class="form-text text-muted">
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </small>

                </div>

                <div style="padding-bottom:2.5%">
                    <label for="id_password2" class=" requiredField">
                        Confirm Password<span class="asteriskField">*</span> </label>
                    <input type="password" onchange="onChangePassword()" name="password_confirm" maxlength="150"
                           autofocus=""

                           class="textinput textInput form-control is-invalid" required="" id="id_password2">
                    <small id="hint_id_password2" class="form-text text-muted">Enter the same password as before, for
                        verification.</small><br>
                    <span style="color:red;" id="error_span"></span>
                </div>

                <div style="padding-top:3%">
                    <button onCLick="submitFunc()" value="Submit" class="btn btn-primary btn-block mt-5">Submit</button>
                    <input style="display:none" type="submit" name="save" value="Submit"
                           class="btn btn-primary btn-block mt-5"
                           id="submit-id-save">
                </div>


            </form>
            <hr>
            <div class="card-footer">
                <div class="text-center text-muted py-2">
                    Already have an account? <a class="text-muted ml-1" href="/login/"><b>LogIn</b></a>
                </div>
            </div>

        </div>

        {% endif %}


    </div>
</div>

{% endblock %}
{% block extra_scripts %}

<script>

    function onChangePassword(){

        const pass = getValue('id_password1');
        const confirmPass = getValue('id_password2');
        console.log(pass,confirmPass);

        if( pass !== confirmPass){
            document.getElementById('error_span').textContent = "Password aren't matched"
            return false;
        }
        else{
            console.log('ok')
            document.getElementById('error_span').textContent  = ""
            return true ;
        }
    }

    function submitFunc(){
        let status = onChangePassword()
        console.log('status')
        if(status === true){
            document.getElementById("submit-id-save").click();
        }

    }

    function getValue(id){
        return document.getElementById(id).value;
    }


    (function() {

})();



</script>

{% endblock %}
